body {
    background-color: #331b53;
    color: #90813f;
    font-family: "Modern Antiqua", serif;
}

button {
    background-color: #690319;
    color: #967b01;
    border-radius: 15%;
    border-color: #770404;
    font-family: "Modern Antiqua", serif;
}

/*Peacock blue pagina 195 #0F2CB3*/