body {
    background-color: #331b53;
    color: #90813f;
    font-family: "Modern Antiqua", serif;
    font-size: 20px;
}

button {
    background-color: #690319;
    color: #967b01;
    border-radius: 15%;
    border-color: #770404;
    font-family: "Modern Antiqua", serif;
    cursor: pointer;
    font-size: 18px;
}

#stat-riassunto {
    font-size: 28px;
}

#nuova-task {
    margin-bottom: 24px;
    font-size: 17px;
    font-family: "Modern Antiqua", serif;
}

.task {
    display: flex;
    flex-direction: row;
    margin: 4px auto;
}

.rimuovi {
    font-size: 14px;
    margin-left: 6px;
    border: none;
    background-color:#331b53;
}

.rimuovi:hover {
    color:#e9d166;
}

#tab-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

#tab-bar button {
    flex: 1;
    padding: 10px;
    font-size: large;
    border-radius: 0%;
}

#stat-base {
    color: #690319;
    font-weight: bolder;
    font-size: 28px;
    background-color: #0b6b74;
    border-style: solid;
    border-color: #085157;
    padding-left: 6px;
    width: calc(100% + 16px);
    margin-left: -8px;
    margin-top: -8px;
    box-sizing: border-box;
}

#stat-tutte {
    color: #90813f;
    margin-top: 20px;
}

#banner-benvenuto {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    background-color: #0b6b74;
    border-style: solid;
    border-color: #085157;
    color:#331b53;
}

#banner-benvenuto.visible {
    opacity: 1;
    transform: translateY(0);
}

#statistica-task {
    margin-bottom: 24px;
    font-size: 18px;
    font-family: "Modern Antiqua", serif;
}

#riga-stat-hp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

#barre-vitali {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 120px;
}

#barre-essenza {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 90px;
    margin-bottom: -30px;
}

.gruppo-barra {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.barra-contenitore {
    position: relative;
    width: 100%;
    height: 16px;
    background-color: #222;
    border: 2px solid #655200;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 6px;
}

#pagina-statistiche .barra-contenitore {
    margin-left: 10px;
}

.valore-barra {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.barra-riempimento {
    height: 100%;
    transition: width 0.4s ease;
}

#barra-hp,#barra-health {
    background-color: #690319;
}

#barra-mp, #barra-mana {
    background-color: #085157;
}
